/Manmohan_Loves_Pattern_1.class
/Manmohan_Loves_Pattern_2.class
/Pattern01.class
/Pattern02.class
/Pattern03.class
/Pattern04.class
/Pattern05.class
/Pattern06.class
/Pattern07.class
/Pattern08.class
/Pattern09.class
/Pattern10.class
