/Pattern0.class
/Pattern01.class
/Pattern02.class
/Pattern03.class
/Pattern04.class
/Pattern05.class
/Pattern06.class
/Pattern07.class
/Pattern08.class
/Pattern09.class
/Pattern10.class
/Pattern11.class
/Pattern12.class
/Pattern13.class
/Pattern14.class
/Pattern15.class
/Pattern16.class
/Pattern17.class
/Pattern18.class
/Pattern20.class
/Pattern21.class
/Pattern22.class
/Pattern23.class
/Pattern24.class
/Pattern25.class
/Pattern26.class
/Pattern27.class
/Pattern28.class
/Pattern29.class
/Pattern30.class
/Pattern31.class
/Pattern32.class
/Pattern33.class
